@model KarnelTravel.Models.Vehicle

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Management/Views/Shared/_AdministratorLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vehicle_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicle_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vehicle_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicle_Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vehicle_Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicle_Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vehicle_Img)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicle_Img)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Transportation.Transportation_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Transportation.Transportation_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Vehicle_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
